a { outline: none !important; }
.hide { display: none !important; }
strong.success, span.success { color: green; }
.ar { text-align: right; }

.login {
	margin-top: 10%;
}

ul.list li {
	margin: 10px 0;
}

ul.list li a {
	text-align: left;
	padding: 10px 20px;
}

ul.list li a span {
	display: block;
}

ul.list li a span.item {
	margin-top: 3px;
}

ul.list li a span strong {
	display: inline-block;
	margin-left: 20px;
}