a { outline: none !important; }
.hide { display: none !important; }

.ar { text-align: right; }

.login {
	margin-top: 10%;
}

ul.list li {
	margin: 10px 0;
}

ul.list li a {
	text-align: left;
	padding: 10px 20px;
}

ul.list li a span {
	display: block;
}

ul.list li a span.item {
	margin-bottom: 3px;
}

ul.list li a span.value {
	border-top: 1px solid #ccc;
}

ul.list li a.btn-success span.value {
	border-top: 1px solid #fff;
}

ul.list li a span.value i {
	
}

ul.list li a span strong {
	display: inline-block;
}