{% extends 'master_pages/main.html' %}

{% block body %}
<div class="row">
	<div class="span12 clearfix">
		<div class="btn-group">
			<a href="/" class="btn {% if options == Null %}active{% endif %}">Data</a>
			<a href="/product/paid" class="btn {% if options == 'paid' %}active{% endif %}">Pago</a>
			<a href="/product/nonpaid" class="btn {% if options == 'nonpaid' %}active{% endif %}">Não pago</a>
		</div>
		<a href="/product/new" class="btn btn-info pull-right"><i class="icon-plus icon-white"></i></a>
	</div>
</div>

<div class="row">
	<div class="span12">
		<ul class="unstyled list">		
		{% for item in items %}
			<li>
				<a href="#{{ item.id }}" class="btn btn-block clearfix {% if item.paid %}btn-success{% endif %}" data-original-title="" data-content="<a href='#' class='btn {% if item.paid == 1 %}btn-success disabled{% else %}btn-info{% endif %}' rel='status' data-status='1' data-product-id='{{ item.id }}'><i class='icon-ok icon-white'></i></a> <a href='/product/{{ item.id }}' class='btn' title='Editar'><i class='icon-pencil'></i></a> <a href='/product/delete/{{ item.id }}' class='btn btn-danger' title='Deletar'><i class='icon-remove icon-white'></i></a>" data-html="true" data-placement="bottom" data-toggle="popover">
					<span class="item clearfix">
						<p class="pull-left">{{ item.name }}</p>
						<strong class="pull-right {% if item.paid == 1 %}success{% endif %}">{{ item.number_formated }}</strong>
					</span>
					<span class="value clearfix hide">
						<i class="pull-left">{{ item.type.name }}</i>
						<i class="pull-right">Dia {{ item.date.day }}</i>
					</span>
				</a>
			</li>
		{% endfor %}
		</ul>
		<div class="total">
			<p class="ar">TOTAL <span>R$ {{ total }}</span></p>
		</div>
	</div>
</div>
{% endblock %}