{% extends 'master_pages/main.html' %}

{% block body %}
<div class="row">
	<div class="span12 clearfix">
		<a href="/type/new" class="btn btn-info pull-right"><i class="icon-plus icon-white"></i></a>
	</div>
</div>

<div class="row">
	<div class="span12">
		<ul class="unstyled list">		
		{% for item in items %}
			<li>
				<a href="#" class="btn btn-block clearfix" data-original-title="" data-content="<a href='/type/{{ item.id }}' class='btn' title='Editar'><i class='icon-pencil'></i></a> <a href='/type/delete/{{ item.id }}' class='btn btn-danger' title='Deletar'><i class='icon-remove icon-white'></i></a>" data-html="true" data-placement="bottom" data-toggle="popover">
					{{ item.name }}
				</a>
			</li>
		{% endfor %}
		</ul>
		<!-- <a href="/product/{{ item.id }}" class="btn"><i class="icon-edit"></i></a>
		<a href="/product/delete/{{ item.id }}" class="btn btn-danger"><i class="icon-trash icon-white"></i></a> -->
	</div>
</div>
{% endblock %}